@media print {
    body { padding: 0; margin: 0; }
    .noprint { display: none; }
}

@media screen {
    body { padding-top: 100px; }
}

@media(min-width: 768px) {
    .navbar-nav > li > a { padding-top: 16px; padding-bottom: 15px; }
}


body::-webkit-scrollbar, div::-webkit-scrollbar { -webkit-appearance: none; }
    body::-webkit-scrollbar:vertical { width: 25px; }
    body::-webkit-scrollbar:horizontal { height: 25px; }
body::-webkit-scrollbar-button, div::-webkit-scrollbar-button { display: none; }
body::-webkit-scrollbar-track { background: #222; }
body::-webkit-scrollbar-thumb { min-height: 2rem; background: #999; background-clip: padding-box; border: 5px solid #222; border-radius: 10px; }
    body::-webkit-scrollbar-thumb:active { background-color: #aaa; border-width: 4px; }

div::-webkit-scrollbar:vertical { width: 18px; }
div::-webkit-scrollbar:horizontal { height: 18px; }
div::-webkit-scrollbar-track { background: #fbfbfb !important; }
div::-webkit-scrollbar-thumb { min-height: 2rem; background: #f0f0f0; background-clip: padding-box; border: 3px solid #fff; border-radius: 10px; }
    div::-webkit-scrollbar-thumb:active { background-color: #ddd; border-width: 2px; }


a { cursor: pointer; }

nav.navbar { min-width: 780px; }
#ulNavTabs { margin-top: 5px; }
.nav-tabs, .nav-tabs > li > a { border: 0; }

.active, .active:hover { cursor: default; color: #000 !important; background: linear-gradient(#222, #ccc, #fff) !important; }
#imgIcon { position: fixed; top: 120px; right: 20px; opacity: 0.1; z-index: 1000; }
#h4MdPath { font-weight: bold; color: #aebcff; margin-top: 20px; margin-left: 20px; }
#divAlert { position: absolute; top: 40%; width: auto; box-shadow: 10px 10px 10px #888; display: none; }
#divAlertMessage { font-size: 1.3em; }

.modal-header i { font-size: 35px; }
.info .modal-footer, .info .modal-header { background-color: #000; color: #44b; }
.success .modal-footer, .success .modal-header { background-color: #ded; color: #060; }
.warning .modal-footer, .warning .modal-header { background-color: #fb8; color: #800; }
.danger .modal-footer, .danger .modal-header { background-color: #fcc; color: #f00; }


/*Hide SyntaxHighlighter help links*/
.syntaxhighlighter { overflow: visible !important; }
.toolbar { visibility: hidden !important; }

/*The SimpleMDE editor in side-by-side mode puts itself into fullscreen -
    which gets it's head hidden under the nav bar*/
.editor-toolbar.fullscreen { top: 70px; }
.CodeMirror-fullscreen, .editor-preview-side { top: 120px; }

/*Hide the full screen button*/
.fa-arrows-alt { display: none !important; }
